:root {
    --body-bg-color: #f1faee;
    --body-txt-color: #1d3557;
    --header-bg-color: #1d3557;
    --header-txt-color: #f1faee;
    --footer-bg-color: #457b9d;
    --footer-txt-color: #f1faee;
    --main-bg-color: #a8dadc;
    --border-color: #e63946;

    --logo-text-familly: 'East Sea Dokdo', cursive;
    --body-text-familly: 'Open Sans', sans-serif;
    --credit-text-familly: 'Orbitron', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--body-bg-color);
    color: var(--body-txt-color);
    font-family: var(--body-text-familly);
    font-size: 1.2em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 10px;
    background: var(--header-bg-color);
    color: var(--header-txt-color);
    margin-bottom: 0;
}

.credit {
    font-family: var(--credit-text-familly);
}

.logo {
    margin: 20px;
}

.logo a {
    color: var(--header-txt-color);
    text-decoration: none;
    font-family: var(--logo-text-familly);
    font-size: 2em;
}
.logo a:active {
    color: var(--header-txt-color);
    text-decoration: none;
}
.logo a:hover {
    color: var(--header-txt-color);
    text-decoration: none;
}
.logo a:visited {
    color: var(--header-txt-color);
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: auto;
    background: #e63946;
    padding: 20px 30px 10px 20px;

}

nav ul {
    display: flex;
    list-style: none;
    text-decoration: none;

}

nav ul li {
    padding-left: 20px;
    transition: all 1s ease-in-out;
}

nav a {
    color: var(--header-txt-color);
    text-decoration: none;
    font-family: var(--body-text-familly);
    font-weight: 600;
}

nav a:hover {
    color: var(--main-bg-color);
}

nav a:visited {
    color: var(--header-txt-color);
}

a {
    color: var(--header-bg-color);
    text-decoration: underline;
    font-family: var(--body-text-familly);
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: var(--border-color);
}

a:active {
    color: var(--border-color);
}

#menu_btn{
    display: none;
    cursor: pointer;
    font-size: 1.2em;
}

.menu-btn {
    position: absolute;
    top: 80px;
    right: 20px;
    padding-top: 5px;
}

input {
    width: 250px;
    height: 30px;
    border: 1px solid var(--header-bg-color);
    border-radius: 3px;
    padding-left: 3px;
    font-size: 1em;
    color: var(--header-bg-color);
}

select {
    width: 250px;
    height: 30px;
    border: 1px solid var(--header-bg-color);
    border-radius: 3px;
    font-size: 1em;
    color: var(--header-bg-color);
}

textarea {
    width: 250px;
    height: 30px;
    border: 2px solid var(--header-bg-color);
    border-radius: 3px;
    font-size: 1em;
    color: var(--header-bg-color);
}

input[type="checkbox"] {
    align-self: end;
    width: 20px;
}
input[type="radio"] {
    align-self: end;
    width: 20px;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1100px;
    padding: 20px;
    background: var(--main-bg-color);
    margin: 80px auto 80px auto;
    border-radius: 30px;
}

.list-encheres {
    width: 100%;
    height: auto;
    border-radius: 3%;
    margin-bottom: 30px;
    padding: 20px;
}
.enchere-article {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}

.enchere-article:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.enchere-article a {
    text-decoration: none;
    color: var(--header-bg-color);
}

.enchere-article a:hover {
    text-decoration: underline;
}

.enchere-article a:active {
    color: var(--border-color);
}

.enchere-article a:visited {
    color: var(--border-color);
}

.error-container {
    height: 400px;
}

.error-container a {
    color: var(--border-color);
}

.seperator {
    height: 180px;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 8%;
    background: var(--footer-bg-color);
    color: var(--footer-txt-color);
    margin-top: auto;
}

footer a {
    color: var(--footer-txt-color);
}

.message-erreur{
    color:red;
}
.message-succes{
    color: green;
}

.message-info{
    color: darkblue;
}

/*------------------  Media Queries  -----------------------------------------------*/
@media (min-width: 901px) and (max-width: 1200px) {
    main {
        width: 85%;

    }
    .form-search-welcome-deconnecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .form-search-welcome-connecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .search-welcome-filters-radios {
        width: 100%!important;
    }

    .radios-checks {
        justify-content: space-around!important;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    main {
        width: 90%;
    }

    .form-search-welcome-deconnecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .form-search-welcome-connecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .search-welcome-filters-radios {
        width: 100%!important;
    }

    .radios-checks {
        flex-direction: column!important;
    }

    .list-encheres {
        display: block!important;
    }

    .enchere-article {
        margin-bottom: 15px!important;
    }

    #menu_btn{
        display: block;
    }

    nav {
        justify-content: flex-start;
    }

    nav ul {
        display: none;
    }

    footer {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

}

@media (min-width: 390px) and (max-width: 600px) {
    main {
        width: 95%;
    }



    .logo {
        margin: 5px;
        font-size: 0.6em;
    }

    .credit {
        font-size: 0.6em;
    }

    .form-search-welcome-deconnecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .form-search-welcome-connecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .search-welcome-filters-radios {
        width: 100%!important;
    }

    .radios-checks {
        flex-direction: column!important;
    }

    .list-encheres {
        display: block!important;
    }

    .enchere-article {
        margin-bottom: 15px!important;
    }

    #menu_btn{
        display: block;
    }

    nav ul {
        display: none;
    }

    .div-form{
        display: block !important;
    }

    footer {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

}

@media (max-width: 390px) {
    main {
        width: 98%;
    }



    .logo {
        margin: 3px;
        font-size: 0.6em;
    }

    .credit {
        font-size: 0.4em;
    }

    .form-search-welcome-deconnecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .form-search-welcome-connecte {
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .search-welcome-filters-radios {
        width: 100%!important;
    }

    .radios-checks {
        flex-direction: column!important;
    }

    .list-encheres {
        display: block!important;
    }

    .enchere-article {
        margin-bottom: 15px!important;
    }

    #menu_btn{
        display: block;
    }

    nav ul {
        display: none;
    }

    .div-form{
        display: block !important;
    }

    footer {
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        align-items: center;
    }

}

































