.connection-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 450px;
    padding: 20px 20px 20px 20px;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    margin: 30px auto 30px auto;
}

.connection-container p:nth-child(2n) {
    margin-bottom: 30px;
}

.connection-sep {
    height: 100px;
}

.connection-container h3 {
    margin: 10px auto 10px auto;
}

.connection-container form {
    margin-bottom: 20px;
}



