div.list-encheres article.enchere-article{
    border: 1px solid black;
    width: 470px;
    height: 150px;
    display: flex;
}
div.list-encheres article.enchere-article div img{
    width: 125px;
    height: 125px;
    background-color: gray;
    margin: 10px;
}
div.list-encheres article.enchere-article div.article-content{
  padding: 15px;
}
main div.list-encheres{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
form div div{
    display: flex;
    margin: 10px 10px;
}
form div div p input.checkbox{
    margin-left: 35px;
}
form div p input#search-article{
    width: 300px;
    border-radius: 10px;
    height: 25px;
    margin: 10px 0px 5px 0px;
}
form div p input#search-categorie{
    margin-left: 25px;
    width: 180px;
}
form div p label select#search-categorie{
    margin-left: 25px;
    width: 180px;
}
form{
    display: flex;
}
form div.recherche{
    margin: 50px;
}
form div.recherche input{
    width: 300px;
    height: 100px;
}

form div.rechercheOne{
    margin: 25px;
}
form div.rechercheOne input{
    width: 300px;
    height: 50px;
}

